.page {
  margin: 0 auto;
  padding: 10px;
  color: var(--text-clr);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 768px) {

  .page {
    padding: 20px;
  }
}

.header {
  display: grid;
  grid-template-rows: min-content 0.9fr min-content 1fr;
  align-items: center;
}

.decorative-rec-icon {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 10px;
  margin: 2px 10px 0 0;
  color: var(--accent-clr);
}

.decorative-rec-icon::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 5px 4px var(--accent-clr);
  background-color: var(--accent-clr);
  inline-size: 7px;
  block-size: 7px;
}

.decorated-zone {
  position: relative;
  min-block-size: 97vh;
}

@media (min-width: 768px) {

  .decorated-zone {
    min-block-size: 96vh;
  }
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--accent-clr);
  border-right: 1px solid var(--accent-clr);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--accent-clr);
  border-left: 1px solid var(--accent-clr);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
}

.header__theme-menu {
  justify-self: end;
  align-self: self-end;
  margin: 0 0 70px;
}

@media (min-width: 768px) {

  .header__theme-menu {
    margin: 0 0 155px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-item {
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  color: var(--accent-clr);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-clr);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-clr);
  outline: none;
}

.header__theme-menu-button_type_light {
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-clr);
}

.header__theme-menu-button_type_auto {
}

.header__theme-menu-button_type_dark {
}

.header__heading {
  align-self: self-start;
  text-shadow: 4px 4px 0 var(--accent-clr);
}

@media (min-width: 768px) {

  .header__heading {
    margin: 20px 0 0 -20px;
  }
}

.accented-shadow-text {
  color: var(--accent-heading-clr);
  font-weight: 700;
  font-size: var(--accent-heading-fs);
  line-height: 82.5%;
}

.header__text {
  justify-self: end;
  align-self: self-start;
  margin: 55px 0 0;
  padding-right: 50px;
  max-inline-size: 364px;
}

@media (min-width: 768px) {

  .header__text {
    margin: 163px 0 0;
  }
}

.accented-background {
  color: var(--accent-clr-with-background);
  background-color: var(--accent-clr);
}

.accented-text {
  font-size: 18px;
  line-height: 130%;
}

.accented-text_bold {
  font-weight: 700;
}

.why {
  margin: 49px 0 0;
}

@media (min-width: 768px) {

  .why {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
    margin: 81px 0 0;
  }
}

.why__heading {
}

.h2-heading {
  margin: 0 0 20px;
  color: var(--accent-clr);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.why__list {
}

.why__list-item {
}

.why__list-title {
}

.why__list-text {
}

.accented-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-clr);
}

.paragraph-text {
  margin: 10px 0 20px;
  line-height: 130%;
}

.what {
  margin: 50px 0 0;
}

.what__heading {
}

@media (min-width: 768px) {

  .what {
    margin: 60px 0 0;
  }

  .what__heading {
    max-width: 236px;
  }
}

.what__list {
}

.what__list-item {
}

.what__list-title {
}

.what__list-text {
}

.how {
  margin: 50px 0 0;
}

@media (min-width: 768px) {

  .how {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
    margin: 80px 0 0;
  }
}

.how__heading {
}

.how__list-container {
}

.how__list-heading {
  margin: 0 0 20px;
}

.how__list {
}

.how__list-item {
}

.how__list-title {
  font-weight: 400;
}

.how__list-text {
}

.gallery {
  margin: 50px 0 47px;
}

.gallery__heading {
  margin: 0;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0 0;
}

.gallery__list-item {
}

.gallery__img {
  inline-size: 100%;
}

@media (min-width: 768px) {

  .gallery {
    margin: 60px 0 74px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, fit-content);
    row-gap: 16px;
    column-gap: 20px;
    margin: 19px 0 0;
  }

  .gallery__list-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__list-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__list-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__list-item:last-child {
    grid-column: 2 / 4;
  }

  .gallery__img {
    object-fit: cover;
    object-position: top;
    block-size: 100%;
  }
}

.footer {
  display: grid;
}

.footer__text {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-clr);
}
