/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', sans-serif;
}
